html, body {
    height: 100%;
    margin: 0;
  }
.list-group-item {
	line-height: 2.5;
}

body {
	font-family: 'Sulphur Point', sans-serif;
  /* background-color: #eeeeee;  */
}
.nounderline {
    text-decoration: none !important
  }

.portPageRestrictSize{
    height: 200px;
    width: 275px;
    border: rgba(0,0,0,0.5) 1px solid; 
    border-radius: 5px;
  }
.indexPageRestrictSize{
    height: 100px;
    width: 125px;
    border: black 1px solid; 
  }
.projofmonthRestrictSize{
    height: 200px;
    width: 95%;
    /* border: black 1px solid;  */
  }
  /*I need to do styling on the my face class */
.myFaceImage{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}  
.testRow{
  border-bottom: 1px solid; 
}

.card-img-top {
    height: 125px;
}
  /*  background-image: url("../images/aboutpage/bg.jpg");
    background-size: cover; 
    use this latter */
#navbarColor01{
  padding-bottom: 0px;
}
