html, body {
    height: 100%;
    margin: 0;
  }
.list-group-item {
	line-height: 2.5;
}

body {
	font-family: 'Sulphur Point', sans-serif;
  background-color: #eeeeee; 
}
.nounderline {
    text-decoration: none !important
  }

.portPageRestrictSize{
    height: 200px;
    width: 275px;
    border: black 1px solid; 
  }

.card-img-top {
    height: 125px;
}


.container {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  
  }
  .footer,
  .push {
    height: 50px;
  }

  .footer{
    text-align: center;
  }

  /*  background-image: url("../images/aboutpage/bg.jpg");
    background-size: cover; 
    use this latter */

  